.collapsed {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  cursor: pointer;
}

select {
  margin: 5px;
  border: 1px solid #111;
  background: transparent;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(favicon.ico) 96% / 15% no-repeat #eee;
}


/* CAUTION: IE hackery ahead */


select::-ms-expand { 
    display: none; /* remove default arrow in IE 10 and 11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    }
}
		
		.loader 
		{
    		border: 16px solid #f3f3f3; /* Light grey */
    		border-top: 16px solid #3498db; /* Blue */
    		border-radius: 50%;
    		width: 45px;
    		height: 45px;
    		animation: spin 2s linear infinite;
    		position: absolute;
    		left: -100px;
    		top: -150px;
		}

		@keyframes spin 
		{
    		0% { transform: rotate(0deg); }
    		100% { transform: rotate(360deg); }
		}
		
		h3
		{
			display: none;
			position: absolute;
			top: 50%;
			left: 40%;
			
		}
		
		.button
		{
			display: inline-block;
			border-radius: 4px;
			background-color: white;
			border: 2px solid black;
			color: black;
			text-align: center;
			font-size: 14px;
			padding: 20px;
			width: 200px;
			transition: all 0.5s;
			cursor: pointer;
			margin: 5px;	
		}
		
		.button span
		{
			cursor: pointer;
			display: inline-block;
			position: relative;
			transition: 0.5s;
		}
		
		.button span:after
		{
			content: '\00bb';
			position: absolute;
			opacity: 0;
			top: 0;
			right: -20px;
			transition: 0.5s;
		}
		
		.button:hover span
		{
			padding-right: 25px;
		}
		
		.button:hover span:after
		{
			opacity: 1;
			right: 0;
		}
		
		input[type=number] {
    width: 12%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 40px;
    font-size: 16px;
    background-color: white;
    background-image: url(favicon.ico);
    background-position: 120px 10px;
    background-repeat: no-repeat;
    padding: 20px 40px 12px 35px;
}
